$primaryColor: #5fb1de;
$darkPrimaryColor: darken(#5fb1de, 15%);

$secondaryColor: #4e4e4e;
$lightSecondaryColor: lighten($secondaryColor, 20%);

$thirdColor: #cdcdcd;

$primaryTime: 0.7s;
$secondaryTime: 0.3s;